{% load bootstrap3%} {% load static%}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"> {% if title %}
    <title>Personal Gallery - {{title}}</title>
    {% else %}
    <title> Personal Gallery </title>
    {% endif %} {% block styles %} {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/basenews.css' %}"> {% endblock %}

</head>

<body>
    <div class="container">
        {% include "navbar.html" %} {% block content %}
        <div class="jumbotron">
            <h1 class='text-center'>Gallery</h1>
        </div>
        {%endblock%} {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {% bootstrap_javascript %} {% endblock %}
    </div>
</body>

</html>