{%extends 'base.html'%} {% block content %} {{block.super}}

<div class="container">

    <body style="background-color:#D5F1F3">



        <!-- Looping through news   -->

        <div class="row">
            {% for photo in photos %}

            <!-- displaying images -->
            <div class="col-xs-4">

                <a href="{% url 'imagedetails' photo.id %}"><img src="{{photo.image.url}}" class="img-responsive" alt="Image"></a>
                <input class="form-control input-lg" type="text" value="https://gallery003.herokuapp.com{{photo.image.url}}" id="{{photo.id}}-url">
                <div class="panel panel-default">

                    <div class="panel panel-footer">
                        <button type="button" class="btn btn-info" onclick="copyUrl('{{photo.id}}-url')">Copy Image Url</button>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            function copyUrl(element) {
                var myVar = document.getElementById(element)
                myVar.select();
                document.execCommand('copy')
            }
        </script>

        {% empty %}
        <div class="row">
            <h2 class="text-center">There are no photos yet</h2>
        </div>
        {% endfor %}
    </body>
</div>

{% endblock %}