{%extends 'base.html'%} {% block content %}
<div class="container">

    <body style="background-color:#E6E6FA">

        <div class="row">
            {% if images%}
            <h2>Found {{ images|length }} of searched term {{message}}</h2>
            {% else %}
            <h2> Found 0 images for the search term {{message}}</h2>
            {% endif %}

        </div>

        <div class="row">

            {% if images %} {% for image in images %}
            <div class="col-sm-4">
                <img src="{{image.image.url}}" class="img-responsive" alt="">
            </div>
            {% endfor %} {% endif %}
        </div>
    </body>
</div>
{% endblock %}